.map-view-container {
  display: flex;
  flex-direction: row;
  background-color: #202124;
}

.map-container .leaflet-container {
  width: 100%;
}

.map-container {
  flex: 1;
  z-index: 1;
}

.driver-list {
  flex: 0.3;
  padding: 10px;
  background-color: #202124;
  color: azure;
  z-index: 2;
}
