/* MapView.css */

.map-view-container {
  display: flex;
  flex-direction: row;
  background-color: #202124;
}

.map-container .leaflet-container {
  width: 100%; /* Cambiar el ancho a lo que desees, por ejemplo, "800px" */
}

.map-container {
  flex: 1;
  z-index: 1; /* Establecer un z-index más bajo para el mapa */
}

.driver-list {
  flex: 0.3;
  padding: 10px;
  background-color: #202124;
  color: azure;
  z-index: 2; /* Establecer un z-index más alto para la lista de choferes */
}
